.idea
.gradle
*.iml
*.iws
*.ipr
*.DS_Store
/build
/docs/META-INF
/docs/output
/ktor-generator/build
/ktor-generator/common/build
/ktor-generator/js/build
/ktor-generator/jvm/build
/ktor-generator-website/build
/ktor-intellij-plugin/build
package-lock.json

*.js.map
*.meta.js

local.properties